.navbar-brand{
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav{
    position: fixed;
    z-index: 5;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.container{
    position: relative;
    text-align: center;
    color: #858fff;
    font-family: 'Press Start 2P', cursive;
}
p{
    position: absolute;
    top: 500px;
    left: auto;
}