body {
    display: grid;
    grid-template-rows: 14vw 8vw 1fr auto auto;
}
.logo {
    display: block;
}
.logo  img {
    max-width: 100%;
    position: fixed;
    top: 0px;
    -webkit-mask-image: linear-gradient(to left, transparent 1%, black 5%);
}
#logga {
    max-width: 19.2%;
    position: fixed;
    top: 0px;
}
header {
    grid-row: 1;
}
nav {
    grid-row: 2;
    height: 4.5vw;
    width: 100%;
    position: fixed;
    top: 15vw;
}
.navigation {
    background-color: black;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.navigation li {
    float: left;
}
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
li:hover {
    background-color: grey;
    border-radius: 5%;
    border: 1px solid rgb(27, 27, 27);
    background: linear-gradient(to bottom, rgb(197, 196, 196), rgb(153, 153, 153), grey, rgb(92, 92, 92), rgb(87, 87, 87))
}
main {
    grid-row: 3;
    margin: 20px;
}
.mainHeader{
    width: 100%;
}
.mainHeader img {
    max-width: 95%;
    -webkit-mask-image: url("imgEva/bicycle-bike-brake-8348.jpg");
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
}
.product{
    width: 200px;
    border: 2px solid black;
    display: block;
    margin: 30px;
}
.product > img {
    width: 200px;
}
aside {
    grid-row: 4;
    background-color: black;
}
footer {
    grid-row: 5;
    background-color: black;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
li a {
    display: block;
    padding-left: 1em;
}
a {
    font-size: 4vw;
    text-decoration: none;
    color: white;
}
footer p {
    padding: 0px;
    margin: 10px;
    color: white;
}
button {
    margin-left: 20px;
}
@media (min-width: 992px) {
    body {
        grid-template-rows: 7vw 3.5vw 1fr auto;
        grid-template-columns: 300px 1fr; 
    }
    header, nav, footer {
        grid-column: 1/ span 2;
    }
    aside {
        grid-column: 1;
        grid-row: 3;
    }
    main {
        grid-column: 2;
        grid-row: 3;
    }
    a {
        font-size: 2vw;
    }
    #logga {
        max-width: 9%;
    }
    nav {
        top: 7vw;
    }
}