body {
    display: grid;
    grid-template-rows: 7vw 2vw 1fr auto auto;
}
.logo {
    display: block;
}
.logo > img {
    max-width: 100%;
    position: fixed;
}
#logga {
    max-width: 9%;
}
header {
    grid-area: 1/1/1/1;
}
nav {
    grid-area: 2/1/2/1;
    height: 4.5vw;
    position: fixed;
    top: 7.9vw;
    width: 100%
}
.navigation {
    background-color: black;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.navigation li {
    float: left;
}
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover {
    background-color: grey;
}
main {
    grid-area: 3/1/3/1;
    text-align: center;
}
main > img {
    width: 50vw;
}
aside {
    grid-area: 4/1/4/1;
    background-color: black;
}
footer {
    grid-area: 5/1/5/1;
    background-color: black;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
li a {
    display: block;
    padding-left: 1em;
}
a {
    font-size: 4vw;
    text-decoration: none;
    color: white;
}
footer p {
    padding: 0px;
    margin: 10px;
    color: white;
}
@media screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-rows: 7vw 4vw 1fr auto;
        grid-template-columns: 300px 1fr; 
    }
    header, nav, footer {
        grid-column: 1/ span 2;
    }
    aside {
        grid-column: 1;
        grid-row: 3;
    }
    main {
        grid-column: 2;
        grid-row: 3;
    }
    a {
        font-size: 2vw;
    }
}