main img {
    width: 80vw;
    margin: 5vw;
    margin-top: 0px;
}
main p, main h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #C0B3A0;
}
.bikeBorder p {
    margin: 5vw;
}
.bikeBorder {
    background-color:#3F3250;
    height: 190vw;
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}
#bikeColor {
    margin-left: 38vw;
}
main button {
    margin-left: 5vw;
}
.links {
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vw;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.7;
}
.secondRow {
    margin-left: 10vw;
}
.links img {
    border: 10px solid white;
    border-bottom: 40px solid white;
    width: 30vw;
    margin: 0px;
}
.links a {
    text-decoration: none;
    color: #3F3250;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.links h3 {
    position: relative;
    top: -15vw;
}

/*
#E14658
#22252C
font-family: 'Bangers', cursive;
#C0B3A0
font-family: 'Oswald', sans-serif;
#3F3250
*/
@media (min-width: 600px) and (max-width: 799px) {
    main img {
        width: 50vw;
        margin: 15vw;
        margin-top: 0px;
    }
    main p h2 {
        font-family: 'Oswald', sans-serif;
    }
    .bikeBorder p {
        margin: 5vw;
        margin-top: -13vw;
    }
    .bikeBorder {
        background-color:#3F3250;
        height: 110vw;
        width: 80vw;
        display: block;
        opacity: 0.7;
    }
    #bikeColor {
        margin-left: 37vw;
        position: relative;
        top: -3vw;
    }
    main button {
        margin-left: 5vw;
    }
    p.price {
        position: relative;
        top: 13vw;
    }
    .links {
        width: 90vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10vw;
        display: flex;
        flex-wrap: wrap;
    }
    .links h3 {
        top: -9vw;
    }
    .links img {
        border: 20px solid white;
        border-bottom: 50px solid white;
    }
}
@media (min-width: 800px) {
    main  img {
        width: 50vw;
        margin-left: 10%;
    }
    main h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
    }
    .bikeBorder p {
        font-family: 'Oswald', sans-serif;
        margin: 5vw;
        margin-top: -50px;
        font-size: 1.5em;
    }
    .bikeBorder {
        background-color:#3F3250;
        margin-top: 1vw;
        margin-bottom: 5vw;
        height: 103vw;
        width: 70vw;
        display: block;
        float: right;
    }
    #bikeColor {
        margin-left: 28vw;
        position: relative;
        top: -3vw;
    }
    main button {
        margin-left: 5vw;
    }
    p.price {
        position: relative;
        top: 4vw;
    }
    .links h3 {
        position: relative;
    }
    .links {
        float: left;
    }
    .links {
        width: 20vw;
        margin-top: 1vw;
        display: flex;
        flex-wrap: wrap;
        opacity: 0.7;
    }
    .links h3 {
        top: -6vw;
        font-size: 1.5em;
    }
    .links img {
        border: 10px solid white;
        border-bottom: 30px solid white;
        width: 15vw;
        margin-left: 3vw;
    }
    .secondRow {
        margin-left: 0px;
    }
}
@media (min-width: 1300px) {
    main  img {
        width: 30vw;
        margin-left: 28%;
    }
    main h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 2.5em;
    }
    .bikeBorder p {
        font-family: 'Oswald', sans-serif;
        margin: 5vw;
        margin-top: -50px;
        font-size: 1.5em;
    }
    .bikeBorder {
        background-color:#3F3250;
        margin-top: 1vw;
        margin-right: 4vw;
        height: 66vw;
        width: 70vw;
        display: block;
        float: right;
    }
    #bikeColor {
        margin-left: 33vw;
        position: relative;
        top: -4vw;
    }
    main button {
        margin-left: 3vw;
        width: 6vw;
    }
    p.price {
        position: relative;
        top: 0vw;
    }
    .links h3 {
        position: relative;
    }
    .links {
        float: left;
    }
    .links {
        width: 20vw;
        margin-top: 1vw;
        display: flex;
        flex-wrap: wrap;
        opacity: 0.7;
    }
    .links h3 {
        top: -4vw;
        font-size: 1.5em;
    }
    .links img {
        border: 15px solid white;
        border-bottom: 40px solid white;
        width: 10vw;
        margin-left: 5vw;
    }
    .secondRow {
        margin-left: 0px;
    }
}