body {
  display: grid;
  grid-template-columns: 85px 1fr 85px;
  grid-template-rows: 100px 1fr 200px;
  margin: 0em;
  padding: 0em;
  background-color: #F9F9EAEA;
}
body > * {
border: solid black 1px;
padding: 2em;
}
header {
  background-color: #1D1010;
  color: #F9EAEA;
  text-align: center;
}
header > div {
  text-align: left;
  font-size: 1.5em;
  font-style: italic;
}
header > ul > li {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 2em;
}
main {
padding: 0em;
text-align: center;
}
body > header, body > footer {
  grid-column: 1 / span 3;
}
body > nav {
grid-row: 2;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer > div {
  grid-column-gap: 30px;
  //border: solid black;
  text-align: center;
  width: 20em;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 20px;
  text-align: center;
  margin: 5px 2px;
}
.fa-facebook, .fa-twitter, .fa-instagram {
  display: block;
  background-color: #3B5998;
  color: white;
  border-radius: 10%;
  text-align: center;
}
