body {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: auto 1fr auto;
  margin: 0em;
  padding: 0em;
  background-color: lightblue;
}

body > nav {
  grid-row: 2;
}

header {
  background-color: brown;
  width: auto;
  height: 150px;
  margin-bottom: 2em;
}

body > header, body > footer {
  grid-column: 1 / span 3;
}

main {
  padding: 0em 0em 1em 0em;
  text-align: center;
  border: solid black 1px;
}
.absolute {
  position: absolute;
}
 .firstPic, .secondPic, .thirdPic, .fourthPic, .fifthPic {
  background-color: brown;

}

.divpicture div img {
  width: 350px;
}

.divpicture div {
  display: block;
}

footer {
  background-color: lightgrey;
  margin: 2em 0em 0em 0em;
}

footer > div {
  text-align: center;
  width: 100vw;
}

.fa {
  padding: 10px;
  font-size: 40px;
}

.fa-facebook, .fa-twitter {
  display: block;
  background-color: #3B5998;
  color: white;
  border-radius: 10%;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 919px) {
  body {
    grid-template-columns: 0px 1fr 0px;
  }

  .divpicture div {
    display: inline-block;
  }

  .divpicture div img {
    height: 42vw;
    width: 87vw;
    margin-bottom: 0em;
  }

  .divpicture:first-child > div > img {
    height: 42vw;
    width: 43vw;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer > div {
    width: 33vw;
  }
}

@media (min-width: 920px) {
  body {
    grid-template-columns: 0px 1fr 0px;
  }

  .divpicture div {
    display: inline-block;
  }

  .divpicture div:first-child img {
    height: 25vw;
    width: 54vw;
  }

  .divpicture > div:nth-child(2) > img {
    height: 25vw;
    width: 33vw;
  }

  .divpicture div img {
    height: 25vw;
    width: 29vw;
  }


  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer div {
    width: 33vw;
  }
}
