main {
  margin: 2em auto 2em auto;
  display: inline-block;
  /* text-align: center; */
}

.absolute {
  position: absolute;
}

 .firstPic, .secondPic, .thirdPic, .fourthPic, .fifthPic {
  font-family: 'Oswald', sans-serif;
  color: #E14658;
  background-color: #3F3250;
  opacity: 0.9;
}
.divpicture a {
  display: block;
  position: relative;
}
.divpicture div img, .divpicture div picture {
  width: 90vw;
}

.divpicture > div {
  display: block;
  text-align: center;
  position: relative;
}

.divpicture div span {
  font-size: 1.5em;
  left: 20px;
  top: 80%;
  z-index: 2;
  transform: translateY(-50%);
}

/*Tablet and laptop*/
@media (min-width: 599px) {
  .divpicture {
    text-align: center;
  }
  .divpicture > div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

}

/*Tablet CSS*/
@media (min-width: 599px) and (max-width: 799px) {

  .divpicture div:first-child img {
    height: 42vw;
    width: 90vw;
  }

  .divpicture div img {
    height: 42vw;
    width: 45vw;
    margin-bottom: 0em;
  }
}

/*Laptop CSS*/
@media (min-width: 800px) {

  .divpicture div:first-child img {
    height: 25vw;
    width: 54vw;
  }

  .divpicture  div:nth-child(2) img {
    height: 25vw;
    width: 33vw;
  }

  .divpicture div img {
    height: 25vw;
    width: 29vw;
  }
  .firstPic:hover, .secondPic:hover, .thirdPic:hover, .fourthPic:hover, .fifthPic:hover {
    background-color: #C0B3A0;
  }
  .divpicture span:hover {
    color: #3F3250;;
  }
}
