<<<<<<< HEAD
/*body {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: auto 1fr auto;
  margin: 0em;
  padding: 0em;
<<<<<<< HEAD
  background-color: lightblue;
}

body > nav {
  grid-row: 2;
}

header {
=======
  //background-color: lightblue;
}*/

/*body > nav {
  grid-row: 2;
}*/

/*header {
>>>>>>> niclas-branch
  background-color: brown;
  width: auto;
  height: 150px;
  margin-bottom: 2em;
}

body > header, body > footer {
  grid-column: 1 / span 3;
}*/

=======
>>>>>>> niclas-branch
main {
  margin: 2em auto 2em auto;
  text-align: center;
<<<<<<< HEAD
  border: solid black 1px;
<<<<<<< HEAD
=======
  height: auto;
>>>>>>> niclas-branch
=======
>>>>>>> niclas-branch
}
main a {
  text-decoration: none;
  color: #C0B3A0;
}

.absolute {
  position: absolute;
}

 .firstPic, .secondPic, .thirdPic, .fourthPic, .fifthPic {
  font-family: 'Oswald', sans-serif;
  color: #C0B3A0;
  background-color: #3F3250;
  opacity: 0.9;
}
.divpicture div img {
}

.divpicture div img {
  width: 90vw;
}

.divpicture > div {
  display: block;
  text-align: center;
}

@media (min-width: 599px) and (max-width: 799px) {

  .divpicture div {
    display: inline-block;
  }

  .divpicture div img {
    height: 42vw;
    width: 87vw;
    margin-bottom: 0em;
  }

  .divpicture:first-child > div > img {
    height: 42vw;
    width: 43vw;
  }
<<<<<<< HEAD
  /*footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
<<<<<<< HEAD
  }
  footer > div {
    width: 33vw;
=======
>>>>>>> niclas-branch
  }
  footer > div {
    width: 33vw;
  }*/
=======
>>>>>>> niclas-branch
}

@media (min-width: 800px) {

  .divpicture div {
    display: inline-block;
  }

  .divpicture div:first-child img {
    height: 25vw;
    width: 54vw;
  }

  .divpicture > div:nth-child(2) > img {
    height: 25vw;
    width: 33vw;
  }

  .divpicture div img {
    height: 25vw;
    width: 29vw;
  }
<<<<<<< HEAD


<<<<<<< HEAD
  footer {
=======
  /*footer {
>>>>>>> niclas-branch
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer div {
    width: 33vw;
<<<<<<< HEAD
  }
=======
  }*/
>>>>>>> niclas-branch
=======
  .firstPic:hover, .secondPic:hover, .thirdPic:hover, .fourthPic:hover, .fifthPic:hover {
    background-color: #C0B3A0;
    color: #22252C;
  }
>>>>>>> niclas-branch
}
